.gamePage {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  &__greeting {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: greeting 2s ease 0s 1 normal forwards;
  }
  &__options {
    width: 768px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_complexity {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      span {
        font-weight: 500;
        display: inline-block;
        margin-right: 5px;
      }
      select {
        text-align: center;
        width: 60px;
        height: 25px;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px solid rgb(161, 161, 161);
        cursor: pointer;
      }
    }
    &_hints {
      display: flex;
      svg {
        display: block;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
}
.hints__container {
  margin: 0 auto;
  width: 768px;
  height: 45px;
  img {
    display: block;
    width: 30px;
    height: 20px;
    margin: 0 auto;
    cursor: pointer;
  }
  &_translation {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
  }
}

.container {
  margin: 0 auto;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.game {
  &__field {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // align-items: flex-start;
    // align-content: flex-start;
    // justify-content: flex-start;
    margin: 10px auto;
    width: 768px;
    // height: 600px;
    height: 430px;
    background-color: #c5c5c5;
    background-size: 768px 430px;
    transition: background-image 3s ease;
    // background-image: url("./assets/images/level1/riverla2.jpg");
  }
  &__items {
    display: flex;

    width: 100%;
    height: 43px;
  }
  &__item {
    box-sizing: border-box;
    background-size: 768px 430px;
    background-position: 0 0;
    // flex-grow: 1;
    height: 43px;
    border: 0.5px solid rgba(0, 0, 0, 0.651);
    color: black;
    text-shadow: 0px 0px 5px #ffffff;
    font-weight: 600;
    text-align: center;
    line-height: 43px;
    //background-image: url("./assets/images/level1/riverla2.jpg");
    cursor: pointer;
  }
}
.description__field {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
  opacity: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(155, 155, 155, 0.384);
}
.count {
  &__field {
    margin-top: 10px;
    margin-right: 10px;
    width: 20px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__item {
    text-align: center;
    border-radius: 100%;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    font-size: 15px;
    opacity: 0;
  }
}

.answer__field {
  display: flex;
  // justify-content: safe;
  align-items: center;
  margin: 15px auto 10px auto;
  width: 768px;
  height: 43px;
  background-color: #c5c5c5;
  // border: 2px solid grey;
}
.buttons__field {
  margin: 10px auto;
  width: 260px;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  button {
    margin: 5px 10px;
    display: block;
    width: 120px;
    height: 43px;
    background-color: purple;
    border: none;
    cursor: pointer;
    color: azure;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    &.buttons__field__check {
      display: none;
    }
    &.buttons__field__next {
      display: none;
    }
  }
}

#two {
  background-position: -96px -60px;
}
#three {
  background-position: -192px 0px;
}
#four {
  background-position: -288px 0px;
}
#five {
  background-position: -384px 0px;
}
#six {
  background-position: -480px 0px;
}
#seven {
  background-position: -576px 0px;
}
#eight {
  background-position: -672px 0px;
}

@keyframes greeting {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    color: rgb(127, 0, 201);
    transform: translateY(-50px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    color: rgb(127, 0, 201);
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    color: rgb(112, 0, 177);
    transform: translateY(-13px);
  }

  72% {
    animation-timing-function: ease-out;
    color: rgb(63, 0, 99);
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    color: rgb(72, 0, 114);
    transform: translateY(-7px);
  }

  90% {
    animation-timing-function: ease-out;
    color: rgb(49, 0, 75);
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    color: rgb(28, 0, 44);
    transform: translateY(-2px);
  }

  100% {
    animation-timing-function: ease-out;
    color: rgb(108, 0, 158);
    transform: translateY(0);
  }
}

@keyframes audio {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
